body {
    background-color: #85aae0;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-card {
    width: 300px;
    margin: 60px auto;
    padding: 30px;
    text-align: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.profile-card:hover {
    transform: translateY(-10px);
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #0d7ea4;
    margin-bottom: 15px;
}

.title {
    color: rgb(28, 19, 59);
    font-size: 14px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background: #4a0f26;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #45a049;
}
